{% extends 'main.html' %}

{% block content %}

<div class="container">
    
    <h1 style="padding-top: 10px;">Auto Grader</h1>
    {% for set in sets %}
    <div class="ui raised card">
        <div class="content">
          <div class="header"> {{set.set_type}} </div>
          <div class="meta">
            <span class="category"> {{ questions|length }} questions</span>
          </div>
          <div class="description">
            <p></p>
          </div>
        </div>
        <div class="extra content">
          <div class="right floated author">
            <a href="/quiz"><button class="ui secondary button"> Enter</button></a>
          </div>
        </div>
      </div>
{% endfor %}
</div>
{% endblock %}
